html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1er Hack para que 1rem sea igual a 10px */
  line-height: 2; /* 2do Hack para separacion de lineas de los parrafos */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
}

.caja-superior {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.item-1 {
  background-color: #66c8ff;
  width: 24.4rem;
  height: 24.4rem;
  margin-right: 3.6rem;
  margin-left: 3.6rem;
  flex-direction: row;
  /* gap: 7.8rem; */
}

.caja-central {
  display: flex;
  justify-content: space-around;
  /* gap: 4.7rem; */
  margin-top: 8.4em;
  margin-bottom: 8.4rem;
}

.item {
  background-color: #ff6666;
  display: flex;
  width: 42.4rem;
  height: 24.2rem;
  margin-left: 3.6rem;
  margin-right: 3.6rem;
}

.caja-inferior {
  background-color: #46599c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 100%; */
  width: 105rem;
  height: 75.4rem;
  /* align-items: center center; */
  margin: 8.2rem 4.1rem 9.3rem 8.2rem;
  /* margin-top: 8.4rem;
  margin-right: 4.1rem;
  margin-bottom: 9.3rem;
  margin-left: 4.2rem; */
  padding-right: 26rem;
  padding-left: 26rem;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.nashe {
  background-color: #de8080;
  display: flex;
  justify-content: space-around;
  gap: 4.7;
  /* justify-content: center center; */
  /* align-content: center; */
  /* align-items: center; */
  /* display: flex; */
  /* align-content: center; */
  /* align-items: center; */
  margin-left: 26rem;
  margin-right: 26rem;
  /* padding: 7.4rem; */
  /* gap: 7.4rem; */
  width: 35.7rem;
  height: 24.4rem;
  /* margin-bottom: 7.4rem; */
}
